.main_section {
  margin-top: 10rem;
  align-items: center;
  align-content: center;
  border-radius: 5px;
  color: rgb(33, 31, 41);
}
.mb{
  margin-bottom: 50px;
}
h1{
  font-size: 40px;
}
.wrap-subjectCode{
  line-height: 2;
}