.not_conviced_section {
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 30px;

  h3 {
    margin-top: 30px;
    letter-spacing: 0;
  }

  .icon {
    width: 150px;
    height: 100px;
    padding: 0 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
  }

  p {
    font-size: 14px;
    line-height: 26px;
    padding: 0px 10px;
  }
}
