@import '../common.scss';

.partners_section {
  margin-top: 0px;
  margin-bottom: 35px;
  padding: 10px;

  .col {
    padding: 0;
  }

  .caroussel {
    background-image: url(/images/background_landing_top.jpg);
    background-position-y: -458px;
    box-shadow: 0px 15px 50px 10px #1e6579 inset;
  }

  h3 {
    //color: $theme-dark-grey;
  }

  .partners_container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
    background-color: #d8e7ea7d;
    padding: 36px 0px;
  }

  .partner_box {
    width: 150px;
    margin: 20px 40px 0px 20px;
    a {
      color: $theme-white;
      &:hover {
        color: $theme-white;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }

  .inner_box {
    background: #ffffff;
    height: 110px;
    border-radius: 10px;
    contain: content;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      transform: scale(1.1); 
      transition-duration: 0.2s;
    }
  }

  .inner_box img {
    max-width: 120px;
    max-height: 80px;
  }

  .inner_box img.soon {
    opacity: 0.35;
  }

  .tag_trial,
  .tag_soon {
    box-shadow: 0 2px 4px 0 rgba(130, 130, 130, 0.5);
    border-radius: 10px;
    font-size: 10px;
    line-height: 14px;
    padding: 6px 8px;
    margin-top: -15px;
    margin-left: 90px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    float: right;
    z-index: 1;
  }

  .tag_trial {
    background: #68b066;
    color: #ffffff;
  }

  .tag_soon {
    background: #258ba6;
    color: #ffffff;
    font-weight: 400;
  }

  .partner_name {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding: 12px 0px 12px 0px;
  }
}
