@import '../common.scss';

.powered_section {
  margin-top: 0px;
  height: 820px;
  padding-top: 25px;
  letter-spacing: 1px;
/*
  background: rgba(255,255,255,0.04);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.01) 1%, rgba(246,246,246,0.9) 20%, rgba(255,255,255,128.7) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(1%, rgba(255,255,255,0.01)), color-stop(4207%, rgba(246,246,246,0.9)), color-stop(100%, rgba(255,255,255,128.7)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.01) 1%, rgba(246,246,246,0.9) 20%, rgba(255,255,255,128.7) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0.01) 1%, rgba(246,246,246,0.9) 20%, rgba(255,255,255,128.7) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0.01) 1%, rgba(246,246,246,0.9) 20%, rgba(255,255,255,128.7) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.01) 1%, rgba(246,246,246,0.9) 20%, rgba(255,255,255,128.7) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 1%, rgba(246, 246, 246, 0.9) 20%, rgba(255, 255, 255, 128.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
*/
  background: transparent;
  h2, h3 {
    color: $theme-white;
  }

  .features {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 595px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }

  .features .iphone_movie {
    position: absolute;
    background-color: grey;
    width: 259px;
    height: 558px;
    z-index: 2;
  }

  .features .iphone_border {
    position: absolute;
    background-image: url("/images/iPhoneXS.png");
    background-size: cover;
    width: 300px;
    height: 595px;
    z-index: 3;
  }

  .features_left {
    position: absolute;
    width: 50%;
    height: 350px;
    margin-top: 190px;
    text-align: -webkit-right;
  }

  .features_right {
    position: absolute;
    width: 50%;
    height: 350px;
    margin-top: 230px;
    margin-left: 50%;
  }

  .features_left_box {
    margin-right: 140px;
    padding-right: 30px;
    padding-left: 80px;
    min-height: 230px;
    text-align: -webkit-right;
    background-image: url("/images/chart-feature-left.svg");
    background-color: #d8e7ea;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 28px;
    box-shadow: 10px 0px 10px #4b736f;
  }

  .features_right_box {
    text-align: left;
    margin-left: 140px;
    padding-left: 30px;
    padding-right: 80px;
    min-height: 230px;
    background-image: url("/images/chart-feature-right.svg");
    background-color: #f7e9d9;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    box-shadow: 10px 0px 10px #4b736f;
  }

  .features_left .range {
    margin: -55px 140px -115px 40px;
    max-width: 400px;
    text-align: -webkit-left;
  }

  .features_right .range {
    margin: -115px 40px -55px 140px;
    max-width: 400px;
    text-align: -webkit-right;
  }

  .features_left .tags {
    margin-top: 10px;
    margin-right: 120px;
    padding-right: 30px;
    padding-left: 20px;
    text-align: -webkit-right;
  }

  .features_right .tags {
    margin-bottom: 10px;
    margin-left: 120px;
    padding-left: 30px;
    padding-right: 20px;
    text-align: left;
  }

  .tag {
    color: #ffffff;
    padding: 3px 9px;
    text-transform: uppercase;
    border-radius: 7px;
    line-height: 36px;
    transition: all 0.4s ease;
  }

  .features_left .tag {
    background-color: $theme-green;
    border: 2px solid $theme-green;
  }

  .features_right .tag {
    background-color: $theme-orange;
    border: 2px solid $theme-orange;
  }

  .features_left .tag.active,
  .features_left .tag:hover {
    text-decoration: none;
    color: $theme-green;
    border-color: $theme-green;
    background-color: #ffffff;
  }


  .features_right .tag.active,
  .features_right .tag:hover {
    text-decoration: none;
    color: $theme-orange;
    border-color: $theme-orange;
    background-color: #ffffff;
  }

  .features_left .tag.active::after {
    content: "";
    display: inline-block;
    width: 35px;
    height: 29px;
    margin: -6px -14px -6px -5px;
    background-image: url("/images/icon_play.svg");
    background-size: 35px 35px;
  }

  .features_right .tag.active::after {
    content: "";
    display: inline-block;
    width: 35px;
    height: 29px;
    margin: -6px -14px -6px -5px;
    background-image: url("/images/icon_play_orange.svg");
    background-size: 35px 35px;
  }

  .title {
    max-width: 330px;
    font-size: 22px;
    font-weight: bold;
    padding: 25px 0;
  }

  .description {
    max-width: 330px;
    line-height: 24px;
  }

  .note {
    max-width: 350px;
    font-size: 14px;
    font-weight: bold;
    padding: 25px 0;
  }

  @media (max-width: 767px) {
    height: auto;

    .features {
      position: initial;
    }

    .features_left {
      position: initial;
      width: auto;
      height: auto;
      margin-top: 10px;
    }

    .features_right {
      position: initial;
      width: auto;
      height: auto;
      margin-top: 0;
      margin-left: auto;
    }

    .features_left_box {
      margin-right: auto;
      text-align: -webkit-center;
    }

    .features_right_box {
      text-align: -webkit-center;
      margin-left: auto;
      margin-bottom: 27px;
    }

    .tags {
      display: none;
    }
  }
}
