@import "../common.scss";

.testimonials_section {
  margin-top: 60px;

  .testimonials {
    margin: 30px 30px 70px 30px;

    .slick-next:before,
    .slick-prev:before {
      color: $theme-black;
    }
  }
}
