
.wrap-logo{
    width: 80px;
    height: 80px;
}
.wrap-img-teacher{
    width: 100px;
    height: 150px;
    float: right;
    background-color: rgb(163, 153, 245);
    border-radius: 2px;
}
li{
    text-align: left;
    line-height: 35px;
}
.wrap-subjectCode{

}
.title-face{
    text-align: left;
}