@import '../responsive.scss';
.partner-main-wrapper {
	height: fit-content;
}
@mixin for-1440px {
	@media (min-width: 1440px) and (max-width: 1920px) {
		@content;
	}
}
@mixin for-768px {
	@media (max-width: 768px) {
		@content;
	}
}

.partner-main-wrapper .partner-main-section {
	position: relative;
	display: block;
	text-align: -webkit-center;
	background-color: #333;
	height: 847px;
	background: url('/images/partner/header_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	@include for-1440px() {
		background-size: 100% 100%;
	}
	.container-fluid {
		height: 100%;
	}
	.anny-2 {
		position: absolute;
		width: 251px;
		height: auto;
		top: 140px;
		left: 13%;
		.Anny-full-body-2 {
			position: relative;
			z-index: 999;
			img {
				width: 144px;
				height: 478px;
				object-fit: contain;
				transform: rotate(-1deg);
			}
		}
		.oval-2 {
			position: relative;
			bottom: 10px;
			width: 251px;
			height: 45px;
			background-color: #121b2a;
			border-radius: 50%;
		}
	}
	// Content
	.content {
		position: absolute;
		width: auto;
		top: 200px;
		left: 30%;
		text-align: left;
		.actions {
			width: fit-content;
			min-height: 70px;
			height: auto;
			padding-top: 25px;
			padding-bottom: 10px;
			margin-top: 40px;
			.telegram_button {
				display: flex;
				justify-content: center;
				color: #0088cc;
				border: 4px solid #0088cc;
				background-color: #ffffff;
				padding: 12px 24px;
				border-radius: 40px;
				box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
				transition: all 0.1s ease;

				&:hover {
					color: #ffffff;
					text-decoration: none;
					background-color: #0088cc;
					border: 4px solid #7fc3e5;
				}

				.icon {
					content: url("/images/icon_telegram.png");
					position: relative;
					bottom: -3px;
					width: 53px;
					height: 52px;
					background-position: 50% 0px;
					background-size: cover;
					vertical-align: middle;
					background-color: #0088cc;
					border-radius: 50%;
					margin-left: -15px;
					margin-right: 8px;
					margin-top: -5px;
					transition: all 1s ease;
				}

				&:hover .icon {
					background-color: #7fc3e5;
				}

				.label {
					min-width: 181px;
					height: auto;
					text-transform: uppercase;
					font-weight: bold;
					line-height: 2.3;
					font-size: 21px;
					padding-left: 10px;
				}
			}
		}
	}
}
// Anny

// Content

.partner-main-wrapper .partner-main-section .content .head {
	width: 714px;
	height: fit-content;
	font-family: Lato;
	font-size: 48px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	padding: 10px 0;
}
.partner-main-wrapper .partner-main-section .content .body-content {
	width: 813px;
	height: fit-content;
	font-family: "Lato";
	font-size: 24px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #ffffff;
	text-align: left;
	margin-top: 20px;
}

// Card Content
.partner-main-wrapper .partner-list-cart {
	position: relative;
	bottom: 140px;
	padding: 0 150px;
}
.partner-main-wrapper .partner-list-cart .row {
	justify-content: space-between;
}
.partner-main-wrapper .partner-list-cart .big-card-bg {
	&:first-child {
		margin-left: 15px;
	}
	box-shadow: 3px 8px 24px 1px rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
	padding: 33px 30px 0 30px;
	width: 327px;
	height: 385px;
	border-radius: 30px;
	margin-bottom: 20px;
}
.partner-main-wrapper .partner-list-cart .big-card-bg > .icon-card {
	width: 74px;
	height: 78px;
	display: block;
	margin: 0 auto;
}
.partner-main-wrapper .partner-list-cart .big-card-bg .card-title {
	margin-top: 31px;
	width: 100%;
	min-height: 25px;
	font-family: Lato;
	font-size: 21px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #222222;
}
.partner-main-wrapper .partner-list-cart .big-card-bg .card-content {
	margin-top: 24px;
	width: 100%;
	height: 133px;
	font-family: Lato;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.56;
	letter-spacing: normal;
	text-align: center;
	color: #6a6a6a;
}
.partner-main-wrapper .partner-list-cart .card-whale {
	width: 327px;
	height: 479px;
	padding: 77px 30px;
	position: relative;
	top: -50px;
	.icon-card {
		height: auto;
		width: 110px;
		margin: 0 auto;
		margin-bottom: 51px;
	}
	.card-title {
		margin-top: -10px;
	}
}
@media (max-width: 1200px) {
	.partner-main-wrapper .partner-main-section .content .head {
		width: 500px;
		font-size: 32px;
	}
	.partner-main-wrapper .partner-main-section .content .body-content {
		width: 500px;
		font-size: 20px;
	}

	.partner-main-wrapper .partner-list-cart .big-card-bg {
		padding-top: 33px;
		width: 260px;
		height: 378px;
		border-radius: 30px;
	}
	.partner-main-wrapper .partner-list-cart .card-whale {
		width: 327px;
		height: 479px;
		padding: 80px 30px;
		position: relative;
		top: -43px;
	}
	.partner-main-wrapper .partner-list-cart .big-card-bg .card-title {
		width: 100%;
		height: 40px;
	}
	.partner-main-wrapper .partner-list-cart .big-card-bg .card-content {
		width: 100%;
	}
}
@media (max-width: 1024px) {
	.partner-main-wrapper {
		height: 1200px;
		.partner-main-section {
			padding: 0 100px;
			.content {
				left: 40%;
				.head {
					width: 400px;
					font-size: 28px;
				}
				.body-content {
					width: 500px;
					font-size: 20px;
					max-height: 100px;
				}
			}
		}
	}
	.partner-main-wrapper .partner-list-cart {
		bottom: 170px;
		margin-top: 30px;
		padding: 0 15px;
		.big-card-bg {
			padding: 33px 15px 15px 15px;
			width: calc(95% /3);
			height: 385px;
			border-radius: 30px;
			margin: 0 auto 40px !important;
			.card-title {
				width: 100%;
				height: 40px;
				font-size: 23px;
			}
			.card-content {
				width: 100%;
				height: auto;
				font-size: 22px;
				margin-top: 15px;
			}
		}
		.card-whale {
			position: initial;
		}
	}
}
@media (max-width: 768px) {
	.partner-main-wrapper {
		height: 2100px;
		.partner-main-section .content {
			.head {
				max-width: 400px;
				font-size: 24px;
			}
			.body-content {
				max-width: 400px;
				font-size: 20px;
			}
		}
		.partner-main-section .anny-2 {
			left: 10%;
			.Anny-full-body-2 {
				img {
					width: 130px;
					height: auto;
				}
			}
			.oval-2 {
				left: -12px;
				top: -18px;
				background-size: cover;
				width: 177px;
				height: 29px;
			}
		}
	}
	.partner-main-wrapper .partner-list-cart {
		bottom: 170px;
		.big-card-bg {
			padding: 33px 15px 15px 15px;
			width: 70%;
			height: 385px;
			border-radius: 30px;
			margin: 0 auto 40px !important;
			.icon-card {
				width: 100px;
				height: auto;
			}
			.card-title {
				width: 100%;
				height: auto;
				font-size: 26px;
			}
			.card-content {
				width: 100%;
				height: auto;
				font-size: 25px;
				margin-top: 15px;
			}
		}
	}
	.actions {
		padding: 0;
	}
	.telegram_button {
		padding: 16px 20px;
	}
}
@media (max-width: 480px) {
	.partner-main-wrapper {
		height: 1650px;
		.partner-main-section {
			padding: 0 15px;
			height: 666px;
			.anny-2 {
				left: 0;
				width: fit-content;
				margin-left: 10px;
				.Anny-full-body-2 {
					img {
						width: 87px;
						height: auto;
					}
				}
				.oval-2 {
					left: -2%;
					top: -12px;
					background-size: cover;
					width: 113px;
					height: 19px;
				}
			}
			.content {
				top: 140px;
				left: 30%;
				margin-left: 10px;
				max-width: 250px;
				.head {
					width: 100%;
					font-size: 18px;
				}
				.body-content {
					width: 100%;
					height: auto;
					font-size: 14px;
        }
        .actions {
          margin-top: 20px !important;
          .telegram_button {
            max-width: 230px;
            padding-left: 5px;
            .icon {
              width: 41px;
              height: 40px;
              margin: 0 0 0 10px;
              top: 0;
            }
            .label {
              min-width: fit-content;
              font-size: 17px;
              margin-left: 0;
              padding: 0 5px;
            }
          }
        }
			}
    }
    .partner-list-cart {
      .big-card-bg {
        height: auto;
        .card-title {
          font-size: 20px;
        }
        .card-content {
          font-size: 17px;
        }
      }
    }
	}
}
@media (min-width: 1920px) {
	.partner-main-wrapper {
		.partner-main-section {
			background-size: 100% 100%;
		}
		height: 1250px;
	}
}
@media (min-width: 1440px) {
	.partner-main-wrapper {
		height: 1300px;
	}
}
