@mixin for-laptop-HDPI {
	@media (max-width: 1439px) {
		@content;
	}
}
@mixin for-phone {
	@media (max-width: 600px) {
		@content;
	}
}

.Telegram {
	padding-bottom: 112px;
	.line-wrapper .line {
		border-color: #121b2a;
	}
}
.text-title {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 43px;
	text-align: center;
	color: #222222;
	margin-top: 25px;
  margin-bottom: 70px;
  padding: 0 15px;
}

.text-content {
	font-family: Lato;
	font-size: 24px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #222220;
}
.text-subtitle {
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 25px;
	text-align: center;
  color: #222220;
  padding: 0 15px;
}

.tele_list {
  margin-top: 100px;
	display: flex;
	justify-content: space-between;
	padding-right: 220px;
	padding-left: 220px;
  background: url("/images/partner/Div.png");
  background-size: 100%;
	// background-position-x: -100px;
	// background-position-y: 60px;
	background-repeat: no-repeat;
	.t-box {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
		img {
      width: 162px;
      height: 162px;
      border-radius: 50%;
    }
    p {
      width: 195px;
      height: 60px;
      font-family: Lato;
      font-size: 21px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #222220;
      margin-top: 20px;
    }
  }
  .t-box-1 {
    top: 30px;
    left: 8%;
  }
  .t-box-2 {
    top: -60px;
    left: 0;
    p {
      margin-top: 53px;
    }
  }
  .t-box-3 {
    top: 30px;
    right: 8%;
  }
	.subcribe,
	.inviting {
		margin-top: 100px;
		@include for-phone() {
			margin-top: 20px;
		}
		.card-title {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
	.configure {
		.card-title {
			padding-top: 53px;
			@include for-phone() {
				padding: 20px;
			}
		}
	}
}

.channel {
  background-image: url(/images/telegram_bgr.png);
  background-size: cover;
	text-align: center;
  padding: 50px 0;
  background-position: center;
  min-height: 719px;
	.text-subtitle {
		width: 638px;
		margin: 0 auto;
		padding-bottom: 76px;
		@include for-phone() {
			width: 100%;
		}
	}
	.tele_option_box {
		display: flex;
		flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 80px;
    .tele-box {
      width: 325px;
      height: 200px;
      border-radius: 30px;
      box-shadow: 3px 8px 24px 1px rgba(0, 0, 0, 0.08);
      background-color: #ffffff;
      padding: 15px;
      img {
        width: 121px;
        height: 76px;
        object-fit: contain;
        margin-bottom: 24px;
      }
      h3 {
        width: 100%;
        height: 58px;
        font-family: Lato;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
      }
    }
	}
}
@media (max-width: 1024px){
  .tele_list {
    background-size: 100% ;
    margin-top: 150px;
    padding: 0 50px;
    .t-box {
      p {
        width: 100px;
        font-size: 18px;
      }
    }
    .t-box-1 {
      top: 32px;
      left: 16%;
    }
    .t-box-2 {
      top: -100px;
     
    }
    .t-box-3 {
      top: 32px;
      right: 16%;
    }
  }
  .channel {
    .tele_option_box {
      .tele-box{
        width: 30%;
        margin: 20px auto;
      }
    }
  }
}
@media (max-width: 768px){
  .Telegram{
    padding-bottom: 50px;
    .tele_list {
      background-size: 100% ;
      margin-top: 150px;
      padding: 0 50px;
      .t-box {
        p {
          width: 100px;
          font-size: 18px;
        }
      }
      .t-box-1 {
        left: 12%;
      }
      .t-box-2 {
        top: -120px;
       
      }
      .t-box-3 {
        right: 12%;
      }
    }
  }
  .channel {
    margin-top: 50px;
    .tele_option_box {
      .tele-box{
        width: calc(95% /3);
        margin: 0 auto;
      }
    }
  }
}
@media (max-width: 480px){
  .Telegram {
    padding: 0;
    .tele_list {
      margin-top: 100px ;
      .t-box {
        img {
          width: 80px;
          height: auto;
        }
        p {
          width: 70px;
          font-size: 12px ;
        }
      }
      .t-box-1 {
        top: 18px ;
        left: 5% ;
      }
      .t-box-2 {
        top: -59px ;
        p {
          margin-top: 30px;
        }
      }
      .t-box-3 {
        top: 18px;
        right: 5%;
      }
    }
  }
  .channel {
    margin-top: 50px;
    .tele_option_box {
      .tele-box{
        width: 100%;
        margin: 0 auto 20px;
      }
    }
  }
}
@media (min-width: 1920px) {
  .tele_list {
    padding: 0 340px;
    margin-top: 150px;
    .t-box-1 {
      top: 40px;
      left: 84px;
    }
    .t-box-2 {
      top: -10px;
      p {
        margin-top: 53px;
      }
     
    }
    .t-box-3 {
      top: 40px;
      right: 104px;
    }
  }
}