.line-wrapper {
    display: flex;
  }
  .line {
    width: 80%;
    height: 100%;
    border: 3px solid #59aec4;
    border-radius: 9px;
    margin: 0 auto; 
    margin-top: 50px;
    margin-bottom: 50px;
  }
  