@import '../common.scss';

.team_member {
  padding-bottom: 40px;

  .photo {
    max-width: 220px;
    padding: 10px;
    img {
      border-radius: 50%;
    }
  }

  .name {
    text-transform: uppercase;
    font-weight: bold;
  }

  .social {
    padding: 5px;
    display: inline-flex;

    a {
      display: block;
      text-indent: -9999px;
      width: 15px;
      height: 15px;
      margin: 3px;
      background-size: 15px 15px;
      background-color: $theme-grey;
      -webkit-mask-size: contain;
      mask-size: contain;
      transition: all 0.2s ease;
    }

    a:hover {
      background-color: $theme-black;
    }

    a.linkedin {
      -webkit-mask-image: url("/images/social/linkedin.svg");
      mask-image: url("/images/social/linkedin.svg");
    }

    a.twitter {
      -webkit-mask-image: url("/images/social/twitter.svg");
      mask-image: url("/images/social/twitter.svg");
      width: 17px;
      height: 17px;
      background-size: 17px 17px;
    }

    a.facebook {
      -webkit-mask-image: url("/images/social/facebook.svg");
      mask-image: url("/images/social/facebook.svg");
    }

    a.telegram {
      -webkit-mask-image: url("/images/social/telegram.svg");
      mask-image: url("/images/social/telegram.svg");
    }
  }
}
